<html>
<title>Blizzard Account</title>

<link rel="stylesheet" href="account.css">
<body>
<div class=ortalama>
<div class=ortaiç >
<div id=logo ><img src="blizzlogo.png" alt=""></div>
<div class=emailout  ><h1>Create an account</h1>  </div>
<div class=emailout  ><button class="sosyal"  type="submit"  ><img src="facebookimg.png" alt="">     Facebook  </button> <button class=sosyal  type="submit"  ><img src="googleimg.png" alt=""> Google </button>  </div>
<div class=emailout  > <span >  Or</span>  </div>
<div class=emailout  ><p>Start your adventures with a Blizzard Account.</p>  </div>
<div class=emailout  ><p>Parents registering for children, <a href="/account/creation/en/parent-signup.html?country=TUR&amp;ret=&amp;theme=blizzard">click here.</a></p>  </div>
<div class=emailout  ><select>
        <option value="volvo">Türkiye</option>
        <option value="saab">Afrika</option>
        <option value="opel">İngiltere</option>
        <option value="audi">Rusya</option>
      </select>  </div> 

<div id=borders>

<div class=emailout  ><input v-bind:style="{ 'border-color': namecolor }"class=input1 v-model="Firstname" type="text" placeholder="Firstname" > <input class=input1  v-bind:style="{ 'border-color': surnamecolor }" v-model="Surname" type="text" placeholder="Surname" > </div>
<div class=emailout  ><input class=tarih  v-bind:style="{ 'border-color': tarihcolor }" v-model="Tarih" type="text" placeholder="Tarih" > <input  class=tarih v-model="Day" type="text"  v-bind:style="{ 'border-color': daycolor }" placeholder="Day" > <input  class=tarih  v-bind:style="{ 'border-color': yearcolor}" v-model="Year" type="text" placeholder="Year" > </div>
<div class=emailout  ><input  v-model="email"  v-bind:style="{ 'border-color': emailcolor }" type="text" placeholder="Email adres" >  </div>
<div class=emailout  ><input v-model="password"   v-bind:style="{ 'border-color': passcolor }" type="text" placeholder="Password" >  </div>
<div class=emailout  ><select   >
        <option value="volvo">Select a Question</option>
        <option value="saab">What was the first car you owned?</option>
        <option value="opel">What was the street you lived on in high school?</option>
        <option value="audi">Where was the first place you flew?</option>
      </select>  </div>
<div class=emailout  ><input v-model="answer"   v-bind:style="{ 'bordercolor': answer-color }" type="text" placeholder="Secret Answer" >  </div>



<div class=emailout ><button    v-on:click="tiklama(Firstname,Surname,Tarih,Day,Year,email,password,answer)" >Create a free account  </button>  </div>
</div>
<div class=emailout ><button id=özelbuton   v-on:click="login" >Already have a account? </button>  </div>














</div>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
      <script src="./dist/vue-observe-visibility.min.js"></script>


<script src="node_modules/vue-visible/dist/v-visible.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="acount.js"></script>

</html>
